In [1]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series([1,2,3,4,5,6,np.nan,8,9,10])
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     NaN
7     8.0
8     9.0
9    10.0
dtype: float64

In [4]:
d = pd.date_range('20230110',periods=10)

In [5]:
d

DatetimeIndex(['2023-01-10', '2023-01-11', '2023-01-12', '2023-01-13',
               '2023-01-14', '2023-01-15', '2023-01-16', '2023-01-17',
               '2023-01-18', '2023-01-19'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df = pd.DataFrame(np.random.randn(10,4), index=d, columns=['A','B','C','D'])

In [18]:
df

                   A         B         C         D
2023-01-10 -0.930675  0.438304 -1.727637 -0.613454
2023-01-11 -0.286279 -0.269116  1.341670 -0.316573
2023-01-12  0.567411  0.704662  1.695156 -1.341053
2023-01-13  0.248421  0.298195 -0.146436 -0.370504
2023-01-14 -0.686223 -0.100935 -1.371767  1.492254
2023-01-15  0.158652  0.277720  0.178934 -1.650710
2023-01-16 -0.190962 -1.479122 -0.756356  1.012176
2023-01-17  2.052917 -0.107024  0.614108 -0.078745
2023-01-18 -2.004593  1.213979 -0.452722 -0.380795
2023-01-19 -0.460808 -0.199751 -0.027056 -0.450278

In [14]:
df1 = pd.DataFrame({'A':[1,2,3,4],
                   'B':pd.Timestamp('20230110'),
                   'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                   'D':np.array([5]*4, dtype='int32'),
                   'E':pd.Categorical(['True','False','True','False']),
                   'F':'Edureka'
    
})

In [15]:
df1

   A          B    C  D      E        F
0  1 2023-01-10  1.0  5   True  Edureka
1  2 2023-01-10  1.0  5  False  Edureka
2  3 2023-01-10  1.0  5   True  Edureka
3  4 2023-01-10  1.0  5  False  Edureka

In [16]:
df1.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object